*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cousine", monospace;
    color: var(--color-white-700);
     text-transform: uppercase;
}
:root{
    --bg-blue:#080C3A;
    --color-white-500:rgba(255,255,255,0.5);
    --color-white-600:rgba(255,255,255,0.66);
    --color-white-700:rgba(255,255,255,0.70);
    --color-white-800:rgba(255,255,255,0.77);
    --color-white-1000:rgba(255, 255, 255);

}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-blue);
}
.cartao{
    width: 470px;
    border: #fff 2px inset;
    border-radius: 25px;
    padding: 44px 32px;
    padding-bottom: 32px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.4),rgba(255,255,255,0.01));
     backdrop-filter:blur(25px);

    & .logo-empresa{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 90px;

        & p{
            font-size: 18px;
        }
    }
          & .dados{
            display: flex;
            flex-direction: column;
            gap: 16px;

            & p{
                font-size: 24px;
            }
            & .nome-validade{
                display: flex;
                justify-content: space-between;
            }
            & p:first-child{
                font-size: 14px;
            }
             & p:last-child{
                color: var(--color-white-500);
                font-size: 14px;
            }
        }

}